DEBUG=False
SECRET_KEY=change_me
ALLOWED_HOSTS=127.0.0.1,localhost

BOT_TOKEN=8721145905:AAEsGr7oSWOuGBgN8KSLpwGRvE2ZydMPx_A

TELEGRAM_API_ID=37247726
TELEGRAM_API_HASH=007361d1ed6f6d43c0d33c034f4180ed
TELETHON_SESSION=telethon_monitor

DB_ENGINE=sqlite

POSTGRES_DB=tg_monitor
POSTGRES_USER=tg_monitor
POSTGRES_PASSWORD=tg_monitor
POSTGRES_HOST=postgres
POSTGRES_PORT=5432