DEBUG=False
SECRET_KEY=change_me
ALLOWED_HOSTS=127.0.0.1,localhost

BOT_TOKEN=your_bot_token

TELEGRAM_API_ID=your_api_id
TELEGRAM_API_HASH=your_api_hash
TELETHON_SESSION=telethon_monitor

DB_ENGINE=sqlite

POSTGRES_DB=tg_monitor
POSTGRES_USER=tg_monitor
POSTGRES_PASSWORD=tg_monitor
POSTGRES_HOST=postgres
POSTGRES_PORT=5432